* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .container {
  
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(96, 203, 119);
    padding: 20px;
    border-radius: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .input-area {
    margin-bottom: 20px;
  }
  
  input, select, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 20px;
  }
  
  .task-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
  }
  
  .task-section {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    background-color: #e7e7e7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
  }
  